# Rock and Mineral Clubs

Scrape all of the rock and mineral clubs listed at https://rocktumbler.com/blog/rock-and-mineral-clubs/ (but don't just cut and paste!)

Save a CSV called `rock-clubs.csv` with the name of the club, their URL, and the city they're located in.

**Bonus**: Add a column for the state. There are a few ways to do this, but knowing that `element.parent` goes 'up' one element might be helpful.

* _**Hint:** The name of the club and the city are both inside of td elements, and they aren't distinguishable by class. Instead you'll just want to ask for all of the tds and then just ask for the text from the first or second one._
* _**Hint:** If you use BeautifulSoup, you can select elements by attributes other than class or id._

In [1]:
import requests
from bs4 import BeautifulSoup 
response=requests.get('https://rocktumbler.com/blog/rock-and-mineral-clubs/')
doc=BeautifulSoup(response.text)

In [2]:
clubs=doc.find_all('h3')
for club in clubs:
    print(club.text)

Alabama Rock and Mineral Clubs
Alaska Rock and Mineral Clubs
Arizona Rock and Mineral Clubs
Arkansas Rock and Mineral Clubs
California Rock and Mineral Clubs
Colorado Rock and Mineral Clubs
Connecticut Rock and Mineral Clubs
Delaware Rock and Mineral Clubs
Florida Rock and Mineral Clubs
Georgia Rock and Mineral Clubs
Hawaii Rock and Mineral Clubs
Idaho Rock and Mineral Clubs
Illinois Rock and Mineral Clubs
Indiana Rock and Mineral Clubs
Iowa Rock and Mineral Clubs
Kansas Rock and Mineral Clubs
Kentucky Rock and Mineral Clubs
Louisiana Rock and Mineral Clubs
Maine Rock and Mineral Clubs
Maryland Rock and Mineral Clubs
Massachusetts Rock and Mineral Clubs
Michigan Rock and Mineral Clubs
Minnesota Rock and Mineral Clubs
Mississippi Rock and Mineral Clubs
Missouri Rock and Mineral Clubs
Montana Rock and Mineral Clubs
Nebraska Rock and Mineral Clubs
Nevada Rock and Mineral Clubs
New Hampshire Rock and Mineral Clubs
New Jersey Rock and Mineral Clubs
New Mexico Rock and Mineral Clubs
New York Rock and Mineral Clubs
North Carolina Rock and Mineral Clubs
North Dakota Rock and Mineral Clubs
Ohio Rock and Mineral Clubs
Oklahoma Rock and Mineral Clubs
Oregon Rock and Mineral Clubs
Pennsylvania Rock and Mineral Clubs
Rhode Island Rock and Mineral Clubs
South Carolina Rock and Mineral Clubs
South Dakota Rock and Mineral Clubs
Tennessee Rock and Mineral Clubs
Texas Rock and Mineral Clubs
Utah Rock and Mineral Clubs
Vermont Rock and Mineral Clubs
Virginia Rock and Mineral Clubs
Washington Rock and Mineral Clubs
West Virginia Rock and Mineral Clubs
Wisconsin Rock and Mineral Clubs
Wyoming Rock and Mineral Clubs
Article Authored by
Images, text and code on this website are copyright by RockTumbler.com.  All other use is prohibited.

In [61]:
CLUBS = [club.text for club in clubs]

In [ ]:
links = doc.select('a[href]')

In [35]:
LINKS=[]
for link in links:
    LINKS.append(link.attrs['href'])

In [42]:
cities=doc.find_all('td', attrs={'width':"40%"})

In [60]:
CITIES =[city.text for city in cities]

In [69]:
clubs=doc.find_all('h3')
CLUBS=[]
for club in clubs:
    CLUB={}
    CLUB['Name']=club.text
    CLUB['Link']=
    CLUB['City']=[city.text for city in cities]
    CLUBS.append(CLUB)

SyntaxError: invalid syntax (<ipython-input-69-8074b3061983>, line 6)

In [70]:
import pandas as pd
df=pd.DataFrame(list(zip(CITIES,LINKS,CLUBS)),
                     columns=['city','link','Name'])
df.head()

,city,link,Name
0,Birmingham,https://rocktumbler.com/,Alabama Rock and Mineral Clubs
1,Dothan,https://www.shopperapproved.com/reviews/RockTu...,Alaska Rock and Mineral Clubs
2,Huntsville,https://rocktumbler.com/,Arizona Rock and Mineral Clubs
3,Mobile,https://rocktumbler.com/questions.shtml,Arkansas Rock and Mineral Clubs
4,Montgomery,https://rocktumbler.com/compare-rock-tumblers....,California Rock and Mineral Clubs

In [72]:
df.to_csv('rock-clubs.csv',index=False)